<h1>Role Statistics for '<%= @play.title %>'</h1>
<%= link_to "All Plays", plays_path %>
<br>
<br>

# Avoid inline styles
<table border="1">
# Make sure your table HTML is valid. The th belongs in a thead
# And you want tbody tags around your actual roles.
# This is important for certain JS frameworks like Ember.
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "lines_spoken" %></th>
    <th><%= sortable "longest_speech" %></th>
    <th><%= sortable "scene_count", "Number of Scenes Appeared In" %></th>
    <th><%= sortable "scene_percentage", "Percentage of Scenes Appeared In" %></th>
  </tr>
  <% @roles.each do |role| %>
    <tr>
      <td><%= role.name %></td>
      <td><%= role.lines_spoken %></td>
      <td><%= role.longest_speech %></td>
      <td><%= role.scene_count %></td>
      <td><%= role.scene_percentage %>%</td>
    </tr>
  <% end %>
</table>

<%= will_paginate @roles %>
